.addUser {
  background: #fff;
  padding: 20px;
  transition:.2s all;
  input {
    background: rgba(174, 195, 188, 0.14);
    color:#394748;
    &::-webkit-input-placeholder {
    color: #90ACAF;
    }
  }
}
.addUser button {
background-color: #00D48A;
color:#394748;
&:hover{
  background:#00B576;
  }
}
.addUserForm {
  margin-top:20px;
  button{
  &:first-child{
    background:none;
    border:none;
    padding:0;
    margin:0;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    color:white;
    &:hover {
      color: #00D48A;
      }
    }
  }
}
